


    <div align="center">
        <ul class="nav navbar-nav" style="align-content: center; background: gainsboro" >
            <li>@Html.ActionLink("AdminHome", "AdminHome", "Admin")</li>
            <li>@Html.ActionLink("AdminList", "Index", "Admin")</li>
            <li>@Html.ActionLink("RoomAllocation", "AllocateRoom", "UnitWiseAdmin")</li>
            <li>@Html.ActionLink("UnitWiseApplication", "ShowAllApplicant", "UnitWiseAdmin")</li>
            @*<li>@Html.ActionLink("HelpLine", "HelpLine", "Applicant")</li>*@
            <li>@Html.ActionLink("LogOff", "LogOff", "Admin")</li>
            
         

        </ul>
    </div>
